.hero-section {
  width: 100%;
  height: 100vh;
  /* Vite сам поймет, где лежит файл, если путь относительный */
  background-image: url('./assets/svg.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}